.text div {
	display: inline-block;
}

.text{
	margin-bottom: 15px;
}

.letter-container{
	margin-left: 15px;
	position: relative;
}

.yellow .letter{
	background: #FFE600;
}

.letter{
	background-color: #00B0B7;
	height: 80px;
	width: 20px;
	
}

.parallelogram-letter{
	display: inline-block;
	width: 20px;
	-webkit-transform: skew(15deg); 
	-moz-transform: skew(15deg); 
	-o-transform: skew(15deg);
}

.parallelogram-letter-inv{
	width: 20px;
	-webkit-transform: skew(-15deg); 
	-moz-transform: skew(-15deg); 
	-o-transform: skew(-15deg);
}

.horizontal-letter{
	height: 20px;
	width: 45px;
}

.yellow .circuar-letter{
	border: 17px solid #FFE600;
	border-left-color: transparent;
	background:transparent;
}

.circuar-letter{
	background: transparent; 
	border: 20px solid #00B0B7;
	border-left-color: transparent;
	height: 16px; 
	width: 32px; 
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
}

/* Letter Specific Styles */

.M2{
	width:16px;
}

.M2, .A1{
	border-right: 3px solid #FFF;
	z-index: 1;
}

.M3{
	width:16px; margin-left:5px;
	transform: skew(-15deg);
	-moz-transform: skew(-15deg); 
	-o-transform: skew(-15deg);
	-webkit-transform: skew(-15deg); 
}

.M4{
	margin-left: 2px;
}

.yellow .M2, .yellow .A1{
	border-right: 3px solid #00B0B7;
}

.wordmark-wrapper:first-child .A,.wordmark:first-child .A{
  margin-left: 18px;
}

.text:last-child .A{
  top: -21px;
}

.A2{
	margin-left: 10px;
}

.A3{
	bottom: 17px;
	left: -2px;
	position: absolute;
}

.K{
	width: 60px;
	margin-left:20px;
}

.K2{
	bottom: 30px;
	height: 50px;
	left: 27px;
	position: absolute;
	-moz-transform: skew(-35deg); 
	-o-transform: skew(-35deg);
	-webkit-transform: skew(-35deg); 
}

.K3{
	bottom: 0px;
	height: 50px;
	left: 30px;
	position: absolute;
	-webkit-transform: skew(30deg); 
	-moz-transform: skew(30deg); 
	-o-transform: skew(30deg);
}

.E{
	width: 42px;
	margin-left:12px;
}

.E2, .E3, .E4{
	left: 0px;
	position: absolute;
	top: -1;
}

.E3{
	top: 29px;
}

.E4{
	top: 60px;
}

.R{
	height: 100px;
	width: 50px;
}

.text:last-child .R{
  top: -21px;
  margin-left: 20px;
}

.R1{
	border-right: 3px solid #FFF;
	left:0;
	position: absolute;
	top: 20px;
	z-index: 1;
}

.yellow .R1{
	border-right: 3px solid #00B0B7;
}

.R2{
	left: -8px;
	position: absolute;
	top: 20px;
}

.R3{
	bottom: 0px;
	height: 45px;
	left: 33px;
	position: absolute;
	-webkit-transform: skew(30deg); 
	-moz-transform: skew(30deg); 
	-o-transform: skew(30deg);
}

.P{
	height: 100px;
	width: 50px;
}

.P1{
	border-right: 3px solid #FFF;
	position: absolute;
	left:0;
	top: 0;
	z-index: 1;
}

.yellow .P1{
	border-right: 3px solid #00B0B7;
}

.P2{
	left: -8px;
	position: absolute;
	top: 0;
}

.T{
	height: 100px;
	width: 70px;
}

.T1{
	left: 0;
	position: absolute;
	top: 0;
	width: 62px;
	height: 16px;
}

.T2{
	left: 20px;
	position: absolute;
}

.Y{
	height: 100px;
	width: 60px;
}

.Y1{
	height:50px; 
	left: -8px;
	position: absolute;
	top: -1px;
	-webkit-transform: skew(30deg); 
	-moz-transform: skew(25deg); 
	-o-transform: skew(30deg);
}

.Y2{
	height:50px; 
	position: absolute;
	right: 26px;
	top: -1px;
	-webkit-transform: skew(-30deg); 
	-moz-transform: skew(-25deg); 
	-o-transform: skew(-30deg);
	border-left: 5px solid #FFF;
}

.yellow .Y2{
	border-left: 3px solid #00B0B7;
}

.Y3{
	bottom: 21px;
	height: 30px;
	left: 3px;
	position: absolute;
}
